[submodule "port-key"]
	path = packages/port-key
	url = https://github.com/Lionad-Morotar/port-key.git
[submodule "antv-infograph"]
	path = syncs/antv-infograph
	url = git@github.com:antvis/Infographic.git
[submodule "brand-design-system-cn"]
	path = syncs/brand-design-system-cn
	url = git@github.com:Lionad-Morotar/brand-design-system-cn.git
[submodule "git-shit-done-cn"]
	path = syncs/git-shit-done-cn
	url = https://github.com/Lionad-Morotar/get-shit-done-cn.git
[submodule "deep-fact-checker"]
	path = local-link/skills/deep-fact-checker
	url = git@github.com:Lionad-Morotar/deep-fact-check-skill.git
[submodule "translating-project"]
	path = local-link/skills/translating-project
	url = https://github.com/Lionad-Morotar/translating-project.git
